link(href="/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(href="/stylesheets/style.css", rel="stylesheet")
link(href="/stylesheets/layout.css", rel="stylesheet")
script(src="/jquery/dist/jquery.min.js")
script(src="/bootstrap/dist/js/bootstrap.min.js")