.container
	.row
		.page-header
			div(style="text-align:right;font-size:3rem;") 
				if user
					span 欢迎你， #{user} &nbsp;&nbsp;
					a(href="/") 退出
				else
					a(href="/user/signUp") 注册
					a(href="/") 登录
