include ../layout
block scripts
	script(src="/js/admin.js")
block content
	.container
		.row
			div.noteId(style="display:none;") #{note._id}
			form.form-horizontal(method="POST", action="")
				.form-group
					label.col-sm-1.control-label(for="noteTitle") 标题：
					.col-sm-11
						input#noteTitle.form-control(type="text" name="noteTitle" value="#{note.title}")
				.form-group
					label.col-sm-1.control-label(for="noteContent") 内容：
					.col-sm-11
						textarea#noteContent.col-md-12(style="height:300px;" name="noteContent") #{note.content}
				.form-group
					label.col-sm-1.control-label(for="")
					.col-sm-11
						button.btn.btn-info#submit(type="button") 提交