extends ../layout

block content
	.container
		.row
			form.form-horizontal(method="POST", action="/admin/add")
				.form-group
					label.col-sm-1.control-label(for="noteTitle") 标题：
					.col-sm-11
						input#noteTitle.form-control(type="text" name="note[title]" value="#{note.title}")
				.form-group
					label.col-sm-1.control-label(for="noteContent") 内容：
					.col-sm-11
						textarea#noteContent.col-md-12(style="height:300px;" name="note[content]" value="#{note.title}")
				.form-group
					label.col-sm-1.control-label(for="noteTitle")
					.col-sm-11
						button.btn.btn-info 提交