include ../layout
block scripts
	script(src="/js/signIn.js")
block content
	.container
		.row
			div(style="width:450px;height:300px;border:1px solid #bbb;border-radius:5px;float:right;")
				form.form-horizontal(method="POST", action="/admin/add")
				.form-group(style="height:45px;line-height:45px;margin-top:45px;")
					label.col-sm-2.control-label(for="noteTitle") 用户名
					.col-sm-9
						input.form-control#userName(type="text" placeholder="用户名")
				.form-group(style="height:45px;line-height:45px;margin-top:45px;")
					label.col-sm-2.control-label(for="noteContent") 密码
					.col-sm-9
						input.form-control#password(type="text" placeholder="密码")
				.form-group(style="height:45px;line-height:45px;margin-top:45px;")
					label.col-sm-2.control-label(for="noteContent") 确认密码
					.col-sm-9
						input.form-control#repassword(type="text" placeholder="确认密码")
				.form-group(style="height:45px;line-height:45px;margin-top:45px;text-align:center;")
					.col-sm-12
						button.btn.btn-info#signUp 注册